.c-sudoku {
  width: fit-content;
  margin: 0 auto;
  background-color: rgba($color: #000000, $alpha: 0.3);
  display: grid;
  grid-template-columns: repeat(9, 40px);
  grid-template-rows: repeat(9, 40px);
  border: 4px solid #000;
  gap: 4px;
  position: relative;
  margin-bottom: 40px;
  @include sp {
    border: 2px solid #000;
    gap: 2px;
    grid-template-columns: repeat(9, 36px);
    grid-template-rows: repeat(9, 36px);
  }
  &__line {
    position: absolute;
    background-color: black;
    &:nth-child(1) {
      width: 100%;
      height: 4px;
      top: calc(44px * 3 - 4px);
      left: 0;
      @include sp {
        height: 2px;
        top: calc(38px * 3 - 2px);
      }
    }
    &:nth-child(2) {
      width: 100%;
      height: 4px;
      top: calc(44px * 6 - 4px);
      left: 0;
      @include sp {
        height: 2px;
        top: calc(38px * 6 - 2px);
      }
    }
    &:nth-child(3) {
      height: 100%;
      width: 4px;
      top: 0;
      left: calc(44px * 3 - 4px);
      @include sp {
        width: 2px;
        left: calc(38px * 3 - 2px);
      }
    }
    &:nth-child(4) {
      height: 100%;
      width: 4px;
      top: 0;
      left: calc(44px * 6 - 4px);
      @include sp {
        width: 2px;
        left: calc(38px * 6 - 2px);
      }
    }
  }
  &__input {
    display: block;
    background-color: #fff;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &.u-answer {
      color: red;
    }
  }
}
