.s-sudoku {
  padding: 40px 10px;
  &__inner {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__form {
    margin-bottom: 20px;
  }
  &__btnWrap {
    display: flex;
    justify-content: center;
  }
}
